@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--sidebar-width: 260px;
}
html, body, #root { 
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
body { @apply bg-slate-50 text-slate-900; }
